<div>
<div class="cardsDiv">
  <div class="card card-box">
    <img class="card-img-top" [src]="'https://www.mizrahi-tefahot.co.il/Lists/BankMizrahiSiteAssets/Homepage/finance_image_5.jpg'" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">TITLE OF SUGGEST</h4>
      <p class="card-text">All content thhat can be to describe this suggestion</p>
      <a class="btn btn-join" data-toggle="modal" (click)="openRegisterPopup()">REGISTER NOW</a>
    </div>
  </div>
  <div class="card card-box">
    <img class="card-img-top" [src]="'https://www.mizrahi-tefahot.co.il/Lists/BankMizrahiSiteAssets/Homepage/finance_image_5.jpg'" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">TITLE OF SUGGEST</h4>
      <p class="card-text">All content thhat can be to describe this suggestion</p>
      <br>
      <a data-toggle="modal" (click)="openRegisterPopup()" class="btn btn-join">REGISTER NOW</a>
    </div>
  </div>
  <div class="card card-box">
    <img class="card-img-top" [src]="'https://www.mizrahi-tefahot.co.il/Lists/BankMizrahiSiteAssets/Homepage/finance_image_5.jpg'" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">TITLE OF SUGGEST</h4>
      <p class="card-text">All content thhat can be to describe this suggestion</p>
      <br>
      <a data-toggle="modal" (click)="openRegisterPopup()" class="btn btn-join">REGISTER NOW</a>
    </div>
  </div>
  <div class="card card-box">
    <img class="card-img-top" [src]="'https://www.mizrahi-tefahot.co.il/Lists/BankMizrahiSiteAssets/Homepage/finance_image_5.jpg'" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">TITLE OF SUGGEST</h4>
      <p class="card-text">All content thhat can be to describe this suggestion</p>
      <a data-toggle="modal" (click)="openRegisterPopup()" class="btn btn-join">REGISTER NOW</a>
    </div>
  </div>
  <!--
  <div class="card card-box" style="width: 20rem;">
    <img class="card-img-top" src="../../../../assets/affiliate/col1Af.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">DEDICATED <br> AFFILIATE MANAGER</h4>
      <p class="card-text">Keeping you updated with latest offers and creatives, from <br> MONDAY to FRIDAY, to help <br> maximize your earing potential <br> data bespoke and banners.</p>
      <a href="#" class="btn btn-join">{{card1.TextOnButton}}</a>
    </div>
  </div>
<div class="card card-box" style="width: 20rem;">
    <img class="card-img-top" src="../../../../assets/affiliate/col2Af.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">GREAT <br> COMMITIONS</h4>
      <p class="card-text">Keeping you updated with latest offers and creatives, from <br> MONDAY to FRIDAY, to help <br> maximize your earing potential <br> data bespoke and banners.</p>
      <a href="#" class="btn btn-join">{{card2.TextOnButton}}</a>
    </div>
  </div>
<div class="card card-box" style="width: 20rem;">
    <img class="card-img-top" src="../../../../assets/affiliate/col3Af.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">AFFILIATE <br> PROGRAM</h4>
      <p class="card-text">Keeping you updated with latest offers and creatives, from <br> MONDAY to FRIDAY, to help <br> maximize your earing potential <br> data bespoke and banners.</p>
      <a href="#" class="btn btn-join">{{card3.TextOnButton}}</a>
    </div>
  </div>
  <div class="card card-box" style="width: 20rem;">
    <img class="card-img-top" src="../../../../assets/affiliate/col1Af.png" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">EYE-CATCHING BANNERS <br> & LANDING PAGES</h4>
      <p class="card-text">Keeping you updated with latest offers and creatives, from <br> MONDAY to FRIDAY, to help <br> maximize your earing potential <br> data bespoke and banners.</p>
      <a href="#" class="btn btn-join">{{card4.TextOnButton}}</a>
    </div>
  </div>-->
</div>
</div>