
    
        <ul class="nav flex-column">
            <a class="nav-item"  href="" [routerLink]="['AffiliateProgram']" routerLinkActive="active">
                <img src="../../../../assets/affiliate/icon.png" alt=""> <p class="nav-title">Affiliate program</p>
            </a>
            <a class="nav-item" href="" [routerLink]="['LinksAndCreative']" routerLinkActive="active">
                <img src="../../../../assets/affiliate/icon.png" alt=""> <p class="nav-title">Links and creative</p>
            </a>
            <a class="nav-item"  href="" [routerLink]="['Earning']" routerLinkActive="active">
                <img src="../../../../assets/affiliate/icon.png" alt=""> <p class="nav-title">Earning</p>
            </a>
            <a class="nav-item"  href="" [routerLink]="['Restricitions']" routerLinkActive="active">
                <img src="../../../../assets/affiliate/icon.png" alt=""> <p class="nav-title">Commission</p>
            </a>
            <a class="nav-item"  [routerLink]="['TermsAndConditions']" routerLinkActive="active">
                <img src="../../../../assets/affiliate/icon.png" alt=""> <p class="nav-title">Terms and Conditions</p>
            </a>
          </ul>