<div>
<ngx-carousel 
[inputs]="carouselBanner"
[moveToSlide]="1"
(onMove)="onmoveFn($event)">
 
    <ngx-item *ngFor="let banner of banners" NgxCarouselItem class="bannerStyle">
            
            <div class="img-banner" [style.background-image]="'url(' +banner.url+ ')'"></div>
            <div id="words" class="animated slideInUp">
                <div id="title">
               <p> Title</p>   
            </div>
            <p id="afterTitle" >Subtitle1</p>
            <p class="inline-span" >
                Subtitle2
            </p>
            <span class="inline-span">Subtitle3</span>
          
            <button (click)="openRegisterPopup()">REGISTER NOW</button>
            
            </div>  
    </ngx-item>

    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>


</div>
