<div *ngIf="carouselBanner1">
<ngx-carousel 
[inputs]="carouselBanner"
[moveToSlide]="1"
(onMove)="onmoveFn($event)">
 
    <ngx-item NgxCarouselItem class="bannerStyle">
            <img [src]="carouselBanner1.ImgSrc">
            <div id="words" class="animated slideInUp">
                <div id="title">
               <p> {{carouselBanner1.Title}}</p>   
            </div>
            <p id="afterTitle"  *ngIf="carouselBanner1.Subtitle1">{{carouselBanner1.Subtitle1}}</p>
            <p class="inline-span"  *ngIf="carouselBanner1.Subtitle2">
                {{carouselBanner1.Subtitle2}}
            </p>
            <span class="inline-span" *ngIf="carouselBanner1.Subtitle3">{{carouselBanner1.Subtitle3}}</span>
          
            <button (click)="openRegisterPopup()">{{carouselBanner1.TextOnButton}}</button>
            
            </div>  
    </ngx-item>

   <ngx-item NgxCarouselItem class="bannerStyle">
        <img [src]="carouselBanner2.ImgSrc">
        <div id="words" class="animated slideInUp">
            <div id="title">
           <p> {{carouselBanner2.Title}}</p>   
        </div>
        <p id="afterTitle" *ngIf="carouselBanner2.Subtitle1">{{carouselBanner2.Subtitle1}}</p>
        <p class="inline-span"  *ngIf="carouselBanner2.Subtitle2">
            {{carouselBanner2.Subtitle2}}</p>
        <span class="inline-span" *ngIf="carouselBanner2.Subtitle3">{{carouselBanner2.Subtitle3}}</span>
       
        <button (click)="openRegisterPopup()" >{{carouselBanner2.TextOnButton}}</button>
        
        </div>  
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>


</div>
