<nav class="navbar navbar-expand navbar-dark  bg-dark " id="navbarIcons">
  <ul class="navbar-nav justify-content-center " >
      <li class="li-icons">
        <a [routerLink]="['home']" routerLinkActive="active">
          <b class="navbar-icons-letter">
              HOME
          </b>
        </a>
      </li>
      <li class="li-icons"> 
            <a [routerLink]="['information']" routerLinkActive="active">
          <b class="navbar-icons-letter">
              INFORMATION
          </b>    
       </a>   
      </li>
      <li class="li-icons">
            <a [routerLink]="['contactUs']" routerLinkActive="active">
          <b class="navbar-icons-letter">
              CONTACT US
          </b>
            </a>
      </li>
  </ul>

</nav> 