/* .app-sidebar {
  width: 20%;
  display: table-cell;
  height: 961px;
  background-color: #111111;
  min-width: 300px !important;
} */

.router-outlet {
  width: 64%;
  display: table-cell;
  background-color: #ffffff;
  padding-top: 0px !important;
  margin-top: 0px !important;
    min-height:60vh;
height: max-content;
}

.app-row {
  display: table;
  width: 100%;
  table-layout: fixed;
    min-height:60vh;
height: max-content;
}

.empty {
  width: 18%;
  background-color: #aeaeae;
  display: table-cell;
    min-height:60vh;
height: max-content;
}

.container {
  padding-right: 25px !important;
  padding-left: 25px !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
}

