.wrapper{
    background-color: black;
}
.contectWrapper{
    /* padding-left: 14.4vw;
    padding-right: 18vw; */
    /* max-height: 541px; */
    min-height: 529px;
    overflow-y: auto;
    padding-bottom: 25px;
    margin-bottom: 11px;
    
    
/* overflow-y: auto;
    overflow-y: initial !important*/
}



.contectWrapper::-webkit-scrollbar-track, contectWrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white !important;
}

.contectWrapper::-webkit-scrollbar-thumb, contectWrapper::-webkit-scrollbar-thumb {
    background-color: #464646 !important;
    outline: 3px solid #464646 !important;
}

.contectWrapper::-webkit-scrollbar, contectWrapper::-webkit-scrollbar {
    width: 0.3em !important;
}