<div class="linkP">
  <span class="PTitle">COMMISSIONS</span>
  <span class="PLink">
    <app-affiliate-link></app-affiliate-link>
  </span>
</div>
<br>

<div class="tabl">
  <table class="table data-table">
    <thead>
      <tr>
        <td>#</td>
        <td>Product Name</td>
        <td>Logo</td>
        <td>Cost Per Acquisition, EUR</td>
        <td>Revenue Share, EUR</td>
        <td>Cost Per Lead, EUR</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Commission of Commissions">
        <td>{{Commission.ID}}</td>
        <td>{{Commission.ProductName}}</td>
        <td><div class="logo" [style.background-image]="'url(https://ae01.alicdn.com/kf/HTB1Tad1pcjI8KJjSspp760byVXaF.png)'"></div></td>
        <td>{{Commission.CostPerAcquisition | currency:'EUR':true}}</td>
        <td>{{Commission.RevenueSharePercentages}}
          <span *ngIf="Commission.RevenueSharePercentages">% from</span> {{Commission.RevenueShareFromAmount}}</td>
        <td>{{Commission.CostPerLead | currency:'EUR':true}}</td>
      </tr>
    </tbody>
  </table>
</div>
