<div class="linkP">
  <span class="PTitle">MESSAGES</span>
  <span class="PLink">
    <app-affiliate-link></app-affiliate-link>
  </span>
</div>
<br>

<div class="newTick">
  <div>
    <button id="btnOpen" (click)="openMessagesPopup()">Open New Ticket</button>
  </div>
  <div class="status-div">
    <label for="Status">Status:</label>
    <select (change)="statusFilterChanged()" [(ngModel)]="selectedStatus" class="select-status">
      <option>All</option>
      <option *ngFor="let x of tickets |uniqFilter: 'Status'" [value]="x.Status">{{x.Status}}</option>
    </select>
  </div>
</div>

<br>

<div class="tabl">
  <table class="table data-table">
    <thead>
      <tr>
        <td>Status</td>
        <td>Ticket ID</td>
        <td>Date</td>
        <td>Time</td>
        <td>Ticket Subject</td>
        <td>Last Response</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>

      <tr class="pointer" *ngFor="let ticket of filteredData; let i =index" (click)="openModal(template); onRead(ticket.ID,i)">
        <td>{{ticket.Status}}</td>
        <td>{{ticket.ID}}</td>
        <td>{{ticket.CreatedDate | date:'dd/MM/yy' }}</td>
        <td>{{ticket.CreatedDate | date:'HH:MM'}}</td>
        <td>{{ticket.Subject}}</td>
        <td>{{ticket.LastResponse| date:'dd/MM/yy HH:MM'}}</td>
        <td style="min-width: 85px;">
          READ
          <span [hidden]="ticket.IsReadByAffiliate" [ngClass]="ticket.IsReadByAffiliate?'':'unread-msg'">NEW</span>
        </td>

        <ng-template #template>
          <div class="" id="{{i}}">
            <div class=" modal-lg">
              <div class="modal-content justify-content-center">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">READ</h5>
                  <button type="button" class="close" (click)="modalRef.hide()">

                    <span aria-hidden="true">
                      <img src="../../../../assets/modals/close.png">
                    </span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class=" justify-content-center">
                    <div [hidden]="!DisplayReply" *ngFor="let message of ticket.AffiliateTicketContents; ">

                      <span>{{message.CreatedDate | date:'dd/MM/yy HH:MM'}}</span>
                      <br>
                      <span>Sent By: {{message.CreatedBy}}</span>
                      <br>
                      <span>Subject:</span>
                      <textarea class="textarea-subject" disabled="disabled" [innerHtml]="message.Subject"></textarea>
                      <br>
                      <span>Content: </span>
                      <textarea class="textarea-Content" disabled="disabled" [innerHtml]="message.Content"></textarea>
                      <br>
                      <hr>
                    </div>
                    <div [hidden]="DisplayReply" class="new-message-div">
                      <form (ngSubmit)="newMessagge(ticket.ID,i)" name="newMessaggeForm" #newMessaggeForm='ngForm'>
                        <h5>Reply</h5>
                        <div class="form-group">
                          <label class="col-form-label">Subject:</label>
                          <div>
                            <textarea #newSubject="ngModel" [(ngModel)]="newMessages.Subject" class=" textarea-subject"
                              name="newSubject"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-form-label">Content:</label>
                          <div>
                            <textarea #newContent="ngModel" [(ngModel)]="newMessages.Content" class="textarea-Content"
                              name="newContent"></textarea>
                          </div>
                        </div>
                        <button type="submit" class="btn float-right" id="btnSend">SEND
                          <img id="loading" *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIDhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" *ngIf="DisplayReply" class="btn  btn-Yellow float-right" (click)="DisplayReply=false">Reply</button>
                  <button type="button" *ngIf="!DisplayReply" class="btn  btn-Yellow float-right" (click)="DisplayReply=true">Back</button>
                  <button type="button" (click)="modalRef.hide()" class="btn btn-default float-right">close</button>
                </div>
              </div>
            </div>

          </div>
        </ng-template>

      </tr>
    </tbody>
  </table>
</div>