<div class="ContactsDiv justify-content-around">
  <div class="contactBox ">
    <img src="../../../../assets/affiliate/email.png" alt="">
    <p class="contact-title">Email</p>
    <p class="contact-content">Monday - Friday
      <br> UK Time 09:00-18:00
      <br>
      <br>
      <span class="yellow-letters">General Affiliate Queries</span>
      <br> affiliate@play24bet.com
    </p>
  </div>
  <div class="contactBox">
    <img src="../../../../assets/affiliate/skype.png" alt="">
    <p class="contact-title">Skype</p>
    <p class="contact-content">Monday - Friday
      <br> UK Time 09:00-18:00
      <br>
      <br>
      <span class="yellow-letters">Skype name</span>
      <br> agent@play24bet.com
      <br>
      <br>
      <span class="yellow-letters">Contact email</span>
      <br> affiliate@play24bet.com
    </p>
  </div>
  <div class="contactBox">
    <img src="../../../../assets/affiliate/phone.png" alt="">
    <p class="contact-title">Phone</p>
    <p class="contact-content">Monday - Friday
      <br> UK Time 09:00-18:00
      <br>
      <br>
      <span class="yellow-letters">+ 61388205676</span>
      <br>
      <span class="yellow-letters">+ 643288032</span>
    </p>
  </div>
  <div class="contactBox">
    <img src="../../../../assets/affiliate/post.png" alt="">
    <p class="contact-title">Post</p>
    <p class="contact-content">5 Majestic Court
      <br> Triq Santa Marija
      <br> Mellieha, MLH 1337
      <br> Malta
    </p>
  </div>

</div>
